### Project (a): Association mining to find hotspots based on a Patient Route Data

In [1]:
import pandas as pd

pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',200)
# load the bank transaction dataset
df = pd.read_csv('Project datasets/D1.csv')

# info and the first 10 transactions
print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1544 entries, 0 to 1543
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   patient_id  1544 non-null   object
 1   global_num  975 non-null    float64
 2   date        1544 non-null   object
 3   location    1544 non-null   object
 4   latitude    1544 non-null   float64
 5   longitude   1544 non-null   float64
dtypes: float64(3), object(3)
memory usage: 72.5+ KB
None

,patient_id,global_num,date,location,latitude,longitude
0,P1000000501,2.0,22/04/2020,Chittorgarh_Rajasthan,24.879999,74.629997
1,P1000000501,2.0,24/04/2020,Ratnagiri_Maharashtra,16.994444,73.300003
2,P1000000502,5.0,26/04/2020,Pindwara_Rajasthan,24.794500,73.055000
3,P1000000502,5.0,27/04/2020,Raipur_Chhattisgarh,21.250000,81.629997
4,P1000000502,5.0,28/04/2020,Gokak_Karnataka,16.166700,74.833298
5,P1000000504,7.0,30/04/2020,Lucknow_Uttar Pradesh,26.850000,80.949997
6,P1000000505,9.0,30/04/2020,Lucknow_Uttar Pradesh,26.850000,80.949997
7,P1000000506,10.0,30/04/2020,Delhi_Delhi,28.679079,77.069710
8,P1000000507,11.0,30/04/2020,Delhi_Delhi,28.679079,77.069710
9,P1000000508,13.0,30/04/2020,Ratnagiri_Maharashtra,16.994444,73.300003